Django==1.5
Flask==0.10.1
Flask-Assets==0.9
Jinja2==2.7.1
MarkupSafe==0.18
PyRSS2Gen==1.0.0
PyYAML==3.10
Twisted==12.2.0
Unirest==1.1.6
Werkzeug==0.9.4
altgraph==0.10.1
bdist-mpkg==0.4.4
beautifulsoup4==4.3.2
bonjour-py==0.3
conda==3.0.6
django-cors-headers==0.12
django-tastypie==0.10.0
itsdangerous==0.23
macholib==1.5
matplotlib==1.1.1
modulegraph==0.10.1
numpy==1.6.2
pep8==1.4.6
poster==0.8.1
py2app==0.7.1
pyOpenSSL==0.13
pycosat==0.6.0
pyobjc-core==2.3.2a0
pyobjc-framework-AddressBook==2.3.2a0
pyobjc-framework-AppleScriptKit==2.3.2a0
pyobjc-framework-AppleScriptObjC==2.3.2a0
pyobjc-framework-Automator==2.3.2a0
pyobjc-framework-CFNetwork==2.3.2a0
pyobjc-framework-Cocoa==2.3.2a0
pyobjc-framework-Collaboration==2.3.2a0
pyobjc-framework-CoreData==2.3.2a0
pyobjc-framework-CoreLocation==2.3.2a0
pyobjc-framework-CoreText==2.3.2a0
pyobjc-framework-DictionaryServices==2.3.2a0
pyobjc-framework-ExceptionHandling==2.3.2a0
pyobjc-framework-FSEvents==2.3.2a0
pyobjc-framework-InputMethodKit==2.3.2a0
pyobjc-framework-InstallerPlugins==2.3.2a0
pyobjc-framework-InstantMessage==2.3.2a0
pyobjc-framework-InterfaceBuilderKit==2.3.2a0
pyobjc-framework-LatentSemanticMapping==2.3.2a0
pyobjc-framework-LaunchServices==2.3.2a0
pyobjc-framework-Message==2.3.2a0
pyobjc-framework-OpenDirectory==2.3.2a0
pyobjc-framework-PreferencePanes==2.3.2a0
pyobjc-framework-PubSub==2.3.2a0
pyobjc-framework-QTKit==2.3.2a0
pyobjc-framework-Quartz==2.3.2a0
pyobjc-framework-ScreenSaver==2.3.2a0
pyobjc-framework-ScriptingBridge==2.3.2a0
pyobjc-framework-SearchKit==2.3.2a0
pyobjc-framework-ServiceManagement==2.3.2a0
pyobjc-framework-SyncServices==2.3.2a0
pyobjc-framework-SystemConfiguration==2.3.2a0
pyobjc-framework-WebKit==2.3.2a0
pyobjc-framework-XgridFoundation==2.3.2a0
python-dateutil==1.5
python-mimeparse==0.1.4
pytz==2012d
requests==2.2.1
scipy==0.11.0
vboxapi==1.0
virtualenv==1.11.2
webassets==0.9
wsgiref==0.1.2
xattr==0.6.4
zope.interface==3.8.0
